/*----------------------------Font and Body*/
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

body {
    font-family: "Righteous", cursive;
    background-color: #000000;
}


/*----------------------------Nav Bar*/

.navbar {
    overflow: hidden;
    height: 35px;
    background-color: #000000);
    border-bottom: 1px solid #fff200;
    display: block;
}

.navbar-link {
    color: #fff200;
    text-decoration: none;
    padding: 0;
    font-size: 15px;
    display: inline-block;
}

.navbar-divider {
    color: #00a650;
}

.navbar-link:hover {
    color: #00a650;
    text-decoration: none;
}

/*----------------------------Header*/

.hub-heading {
    color: #fff200;
    font-size: 130px;
    display: block;
    text-align: center;
    margin-bottom: 70px;
}

.hub-heading h1 {
    font-size: 130px;
    margin-top: 70px;
}

.hub-canary {
    max-height: 85px;
    margin: 0;
}

.hub-row-index {
    background: url("../images/Celebrate1.jpg") no-repeat fixed;
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
    height: 100%;
    position: relative;
    align-content: center;
    margin-left: 0%;
}

.hub-line {
    width: 20%;
    height: 10px;
    background-color: #00a650;
    border-radius: 15px;
    margin-top: 0;
}

.hub-tagline {
    font-size: 30px;
    margin: 0;
}

.opaque-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}


/*----------------------------------------welcome*/

.welcome-section {
    background-color: #000000;
    border-top: 1px solid #fff200;
}

.welcome-heading {
    font-size: 70px;
    color: #fff200;
    margin-top: 30px;
    text-align: center;
    padding-bottom: 5px;
}

.welcome-reason-heading {
    color: #fff200;
    text-align: center;
    padding-top: 30px;
}

.welcome-headings-icons {
    display: block;
    color: #00a650;
    padding-top: 4px;
}

.welcome-reason {
    color: #fff200;
    text-align: center;
    padding-bottom: 35px;
}

.welcome-line {
    width: 10%;
    height: 7px;
    background-color: #00a650;
    border-radius: 15px;
    margin-top: 0;
}
/*----------------------------------------Match Reviews*/

.review-section {
    background-color: #000000;
    padding-top: 0;
}

.review-heading {
    font-size: 70px;
    color: #fff200;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 5px;
}

.review-line {
    width: 10%;
    height: 7px;
    background-color: #00a650;
    border-radius: 15px;
    margin-top: 0;
}

.review-border {
    margin: 20px;
    padding-top: 20px;
    height: 350px;
}

.review-post-heading {
    color: #fff200;
    text-align: center;
    padding-top: 10px;
}

.review-post-subheading {
    color: #00a650;
    text-align: center;
}

.review-photo-top {
    background-image: url("../images/Krul1.jpg");
    background-size: cover;
    background-position: center;
    border: 1px solid #fff200;
}

.review-photo-bottom {
    background-image: url("../images/PukkiSoyuncu.jpg");
    background-size: cover;
    background-position: center;
    border: 1px solid #fff200;
}

/*----------------------------------------News Page*/

.hub-row-news {
    background: url("../images/ncfc4.jpg") no-repeat;
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
    position: relative;
    align-content: center;
}

/*----------------------------------------Squad*/

.hub-row-squad {
    background: url("../images/ncfc3.jpg") no-repeat;
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
    position: relative;
    align-content: center;
}

/*----------------------------------------Sign Up*/

.hub-row-sign {
    background: url("../images/ncfc2.jpg") no-repeat;
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
    position: relative;
    align-content: center;
}